@model ParkedVehicleViewModel

@{
    ViewBag.Title = $"{Model.RegistrationNumber}";
}

<div class="row mb-3">
    <div class="col">
        <div class="card bg-light">
            <div class="card-body">
                <h3>@Model.RegistrationNumber</h3>
                <ul>
                    <li>Type: @Model.Type</li>
                    <li>Brand: @Model.Brand</li>
                    <li>Model: @Model.Model</li>
                    <li>Wheels: @Model.Wheels</li>
                    <li>Parked At: @Model.RegisteredAt</li>
                    <li>Color: @Model.Color</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<a asp-controller="Vehicle" asp-action="Index">Back to vehicles</a>