@model IEnumerable<ParkedVehicleSlimViewModel>
@using Garage_2_0.Models.Enums;

@{
    ViewBag.Title = "Vehicles";
}

<h3 class="mb-3">@ViewBag.Title</h3>

<table id="vehicle-table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(x => x.RegistrationNumber)</th>
            <th>@Html.DisplayNameFor(x => x.Type)</th>
            <th>@Html.DisplayNameFor(x => x.Brand)</th>
            <th>@Html.DisplayNameFor(x => x.RegisteredAt)</th>
            <th>@Html.DisplayNameFor(x => x.Color)</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehicle in Model)
        {
            <tr>
                <td>@vehicle?.RegistrationNumber</td>
                <td>@vehicle?.Type</td>
                <td>@vehicle?.Brand</td>
                <td>@vehicle?.RegisteredAt</td>
                <td>@vehicle?.Color</td>
                <td>
                    <a asp-controller="Vehicle" asp-action="Details" asp-route-id="@vehicle?.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    import DataTable from 'datatables.net-dt';
    import 'datatables.net-responsive-dt';

    let table = new DataTable('#vehicle-table', {
        responsive: true
    });
</script>